# The prefix this script will use for the CloudFormation stacks
STACK_PREFIX="msb"

# The AWS CLI profile to use for commands. This will impact the AWS Account you deploy to.
AWS_PROFILE="wallbomk-msb"

# The e-mail address to receive configuration and security alerts
NOTIFICATION_EMAIL="wallbomk@amazon.com"
